#root {
    display: flex;
    height: 100%;
}
aside {
    background-color: #20232a;
    color: #fff;    
    padding: 20px 2%;
    width: 20%;
}
.chat { 
    padding: 20px 2%;
    width: 72%;
}
.messages-list {
    height: 80%;
    padding-top: 50px;
}